<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ImagiCorps</title>
<link type="text/css" rel="stylesheet" media="all" href="style.css">
</head>
<body bgcolor="#292a2c" leftmargin="0" topmargin="0" rightmargin="0"><center><a href="dark_02.html"><img src="dark_01.jpg" alt="ImagiCorps" width="1061" height="710" border="0" /></a>
<div id="notes">
    <p>Notes: The texture background will tile to the full height/width of the browser window. The image slider will bleed off to the left and right beyond the borwser viewport.</p>
</div>
</center>
</body>
</html>