<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ImagiCorps</title>
<link type="text/css" rel="stylesheet" media="all" href="style.css">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" rightmargin="0"><center><a href="light_06.html"><img src="light_05b.jpg" alt="ImagiCorps" width="995" height="706" border="0" /></a>
<div id="notes">
    <p>Notes: All images will have alt atributes for SEO, that can be edited in your CMS.</p>
</div>
</center>
</body>
</html>