<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ImagiCorps</title>
<link type="text/css" rel="stylesheet" media="all" href="style.css">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" rightmargin="0"><center><a href="light_04.html"><img src="light_03.jpg" alt="ImagiCorps" width="995" height="706" border="0" /></a>
<div id="notes">
    <p>Notes: There will be a visual transition between this page layout type and the more standard, grid & navigation page layout. The navigation will likely slide to the left and the red 'Login' button will be come the red 'X'.</p>
</div>
</center>

</body>
</html>